.navlink-custom, .logo-area, .cursor-pointer {
  cursor: pointer;
}

.form-input {
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 10px;
}

.form-input.light {
  background: #fff3;
  color: #fff;
}

.form-input.dark {
  background: #0006;
}

.form-input.large, .input-group-append.large button {
  font-size: 1.5rem;
}

.input-group-append.light button {
  color: #fff;
}

.input-group-append button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px;
}

.es-amount-number {
  font-size: 3rem;
}

.es-amount-symbol {
  font-size: 3rem;
  font-weight: 700;
}

hr {
  height: 1px;
  background-color: #ccc;
}

.dashboard-container {
  background-color: #fff4;
  color: #000;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.dashboard-container {
  color: #fff;
  font-weight: 700;
}

.dashboard-container input {
  color: #000;
}

.welcome-text {
  color: #fff;
}

.btn-custom-light {
  background: white;
  padding: 1rem;
  border-radius: 4px;
  color: #111 !important;
}
